*{
    padding: 0;
    margin:0;
   
}

/* changed the class name, added a background image */
.header{
    color:dimgray;
    min-height: 2px;
    width: 100%;
    background-image:linear-gradient(rgba(4,20,50,0.7),rgba(4,9,30,0.7)), url(/assets/Beach\ House.jpg);
    background-position:right;
    background-size:cover;
    position:absolute;
}   

body {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    font-size: larger;
    background-color: #e0e0eb;
    padding: 20px, 20px;
    margin: 15px 15px;
}

nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: center;
}
/* added styles to my links lines 35-68 */
nav img{
    width: 155px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: block;
    padding: 20px, 10px;
    position: relative;
}
 .nav-links ul li a{
    color:gray;
    text-decoration:none;
    font-size: 30px;
 }

.nav-links ul li::after{
    width: 0%;
    height: 2px;
    background: #e0e0eb;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 40px;
}

/* added box around each section */
.content-section{
    margin-bottom: 60px;
    padding: 70px;
    height: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#006666;
    color:#e0e0eb;
}
/* Added because this section to fix the link/image to make it bigger than the other pictures*/
.work{
     flex: 1 0 0;
     padding: "100";
     text-align: center;
      }

      .work header {
        padding: 200px;
       
        color: #006666;
      }
      
      .work img {
        width: 100%;
        min-width: 20px;
      }


footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: #006666;
    color: black;
}

/* made website work in all sizes */

@media screen and (max-width: 992px) (max-height:650px) {
    header and main{
      background: #006666;
    }
    
  }
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) (max-height:650px) {
    nav {
      background-color: #006666;
    }
  }
  
  @media screen and (max-width: 768px) (max-height:650px) {
    footer {
      background-color: #006666;
    }
  }