*{
    padding: 0;
    margin:0;
}
/* changed the class name, added a background image */
.header{
    color:dimgray;
    min-height: 2px;
    width: 100%;
    background-image:linear-gradient(rgba(4,20,50,0.7),rgba(4,9,30,0.7)), url(/assets/Beach\ House.jpg);
    background-position:right;
    background-size:cover;
    position:absolute;
}   

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: larger;
    background-color: #e0e0eb;
    padding: 20px, 20px;
    margin: 15px 15px;
}

nav{
    display: flex;
    padding: 5% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 155px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px, 10px;
    position: relative;
}
 .nav-links ul li a{
    color:whitesmoke;
    text-decoration:none;
    font-size: 15px;
 }

.nav-links ul li::after{
    width: 0%;
    height: 2px;
    background: #e0e0eb;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.content-section{
    margin-bottom: 50px;
    padding: 50px;
    height:150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:gray;
    color:#e0e0eb;
}

p {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: gray;
    color: black;
}
